body, html {
    height: 100%;
  }

.background {
    background-image: url('./assets/blur-photo.com_1666099067.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, 0.681);
}