#back-button {
    position: absolute;
    width: 30px;
    height: auto;
    margin-top: 40px;
    margin-left: 12px;
}

#back-button:hover, #back-button:active {
    cursor: pointer;
    opacity: 0.6;
}

