.subColBody {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.subCatCard {
    border: none;
    width: 12rem;
    height: auto;
    background-color: #ce94ad;
    color: white;
    cursor: pointer;
}

.subCatCard:hover, .subCatCard:active {
    opacity: 0.5;
}

.fillerCol {
    width: 12rem;
}