.background {
  background-image: url("../assets/hero-background-blurred.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}

:root {
  font-family: 'Vazir', sans-serif !important;
}

.contentContainer {
  background-color: rgba(255, 255, 255, 0.681);
  min-height: 600px;
  padding: 0;
  padding-bottom: 3rem;
}

.btn {
  background-color: #6db2a6;
  border-color: #6db2a6;
}

.btn:hover {
  background-color: #669990;
  border-color: #6db2a6;
}

.btn.login-button {
  background-color: transparent;
  border-color: transparent;
}

.btn.login-button:hover {
  background-color: #6db2a6;
  border-color: #6db2a6;
}

@media screen and (min-width: 1300px) {
  .container {
    width: 900px;
  }}

body,
html {
  font-family: Roboto, Helvetica, sans-serif;
}

a {
  color: #436662;
}