/* Fonts */
:root {
  font-family: "Vazir", sans-serif !important;
}

body,
html {
  font-family: Roboto, Helvetica, sans-serif;
}

/* Containers */
.background {
  /* 2:nd layer */
  background-image: url("../assets/hero-background-blurred.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.contentContainer {
  /* 3:d layer */
  background-color: rgba(255, 255, 255, 0.681);
  height: 100%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  /* 4:th layer */
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: 630px;
}

/* Responsivness containers */
@media only screen and (max-width: 900px) {
  /* Tablets */
  .contentContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  /* Phones */
  .contentContainer {
    width: 100%;
  }
}

/* Buttons */
.btn {
  background-color: #6db2a6;
  border-color: #6db2a6;
}

.btn:hover {
  background-color: #669990;
  border-color: #6db2a6;
}

.btn.login-button {
  background-color: transparent;
  border-color: transparent;
}

.btn.login-button:hover {
  background-color: #6db2a6;
  border-color: #6db2a6;
}
